<% if(i === 0){  %>
    
        <article class="art-row-headline">
            <a href='<%= process.env.LOCAL_HOST %>/article/<%= art.id %>'>
            <div class="art-col-headline">    
                <img src="<%= art.img %>" alt="">
            </div>
            <div class="art-col-headline">
                <p class="timestamp"><%= art.pub %></p>
                <p class="title"><%= art.tit %></p>
                <p class="author"><%= art.aut %></p>  
            </div>
        </a>
        </article>
<% } else{ %>

    <article class="art-row">
        <a href='<%= process.env.LOCAL_HOST %>/article/<%= art.id %>'>
        <div class="art-col">
            <img src="<%= art.img %>" alt="">
        </div>
        <div class="art-col">
            <p class="timestamp"><%= art.pub %></p>
            <p class="title"><%= art.tit %></p>
            <p class="author"><%= art.aut %></p>  
        </div>
        </a>
    </article>
<% } %>
