
<% if(i === 0){  %>
    <div></div>
        <% } else{ %>
        <div class="column" >
            <article class="la-m-article">
                <a href='<%= process.env.LOCAL_HOST %>/article/<%= art.id %>' class="la-m-link">
                <div class="art-col">
                    <img src="<%= art.img %>" alt="" class="la-m-img">
                </div>
                <div class="">
                    <p class="la-m-timestamp timestamp"><%= art.pub %></p>
                    <h4 class="la-m-title is-size-6 has-text-weight-semibold"><%= art.tit %></h4>
                </div>
                </a>
            </article>
        </div>
        <% } %>
