<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<script>
    
</script>
<header>
    <%- include('../partials/nav'); %>
    <script src="https://kit.fontawesome.com/3a615f6595.js" crossorigin="anonymous"></script>
</header>

  
<main>
    
    <div class="article-cont">
        <div class="main-article-cont">
            <div class="back-link-cont"><a href='<%= process.env.LOCAL_HOST %>' class="back-link">Back to Articles...</a></div>
            <div class="title-cont"><h2><%= art.tit %></h2></div>
            <div class="pub-time-cont">
                <div class="thumb"><img src='https://randomuser.me/portraits/men/<%=Math.round(Math.random() * 50)%>.jpg' alt=""></div>
                <div class="author">By <%= art.aut %></div>
                <div class="time"><%= art.pub %></div>
            </div>
            <div class="social-cont">
                <span>Share: </span> 
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="big-img"><img src='<%= art.img %>' alt=""></div>
            <div class="body"><%= art.con %></div>
        </div>
        
        <div class="latest-articles-cont"> 
            <h2>Latest Articles</h2>     
            <% if (arts) {
                arts.forEach((art, i)=>{  %>
                    <% if(i === 0) { } else {%>
                    <div class="la-img-cont"><img src='<%= art.img %>' alt=""></div>
                    <div class="la-title-cont"><h5><%= art.tit %></h5></div>
                    <% }%>
            <%  })
                } %>
            
        </div>
    </div>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/scripts.ejs'); %>

</body>
</html>